* {
  margin: 0px;
  padding: 0px;
  border: 0px; }

html {
  height: 100%;
  width: 100%; }

body {
  background: url(/images/background_960.png) center 60px no-repeat #888888;
  width: 100%;
  height: 100%;
  font-family: Arial;
  font-size: 12px; }

#footer_wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -20px; }

#footer {
  height: 20px;
  width: 960px;
  margin: 0px auto;
  background: #333333;
  font-size: 8pt;
  text-align: center;
  color: #999999;
  line-height: 20px;
  clear: both;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333333), to(#222222));
  background: -moz-linear-gradient(40% 85% 90deg, #222222, #333333);
  background-color: #666666; }
  #footer a:link, #footer a:visited, #footer a:active {
    color: #999999;
    text-decoration: none; }
  #footer a:hover {
    color: #999999;
    text-decoration: underline; }

#footer_push {
  height: 2px;
  clear: both; }

a:link, a:visited, a:active {
  color: white;
  text-decoration: none; }
a:hover {
  color: white;
  text-decoration: underline; }

#nav_bg {
  z-index: -1;
  width: 100%;
  height: 60px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#444444));
  background: -moz-linear-gradient(19% 85% 90deg, #444444, #666666);
  background-color: #666666;
  position: absolute;
  left: 0px;
  top: 0px; }

#container {
  width: 960px;
  margin: 0px auto;
  position: relative; }

#left {
  width: 35%;
  text-align: left;
  padding: 155px 0px 0px 130px;
  float: left;
  background: url(/images/weleft.png) 35px 0px no-repeat;
  margin: -30px 0px 0px -30px; }

#right {
  width: 41%;
  text-align: left;
  padding: 125px 30px 0px 0px;
  float: right; }

#header {
  height: 60px;
  font-size: 11px;
  font-weight: bold;
  color: white;
  padding: 0px 90px 0px 0px;
  background: url(/images/diaspora.png) 105px 15px no-repeat; }

#header_fix {
  float: right; }

p {
  padding: 1.5em 1em 0px 0px; }

._10pxleftpad {
  padding: 0px 0px 0px 10px; }

._80pxleftpad {
  padding: 0px 0px 0px 80px; }

.greybox {
  background: #bbbbbb;
  border: 2px solid #bbbbbb; }

.whitebox {
  background: #f5f5f5;
  border: 2px solid #f5f5f5; }

.headerspan_1 {
  padding: 0px 0px 0px 0px;
  letter-spacing: 1px;
  text-align: left;
  float: left;
  height: 60px;
  line-height: 30px;
  width: 120px; }

.headerspan_2 {
  padding: 0px 0px 0px 20px;
  letter-spacing: 1px;
  text-align: left;
  float: left;
  height: 60px;
  line-height: 30px;
  width: 120px; }

.headerspan_3 {
  padding: 0px 0px 0px 20px;
  letter-spacing: 1px;
  text-align: left;
  float: left;
  height: 60px;
  line-height: 25px; }

#signup {
  margin: 1em 0px 0px 0px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555555), to(#444444));
  background: -moz-linear-gradient(19% 85% 90deg, #444444, #555555);
  background-color: #666666;
  padding: 5px 10px; }

.lefttd {
  padding: 6px 5px 0px 0px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  width: 120px;
  font-weight: bold;
  color: white; }

.righttd {
  padding: 5px 5px 0px 5px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: left;
  width: 175px; }

.fullwidth {
  width: 100%; }

.smalltext {
  font-size: 10px; }

.button {
  -moz-border-radius: 3px 3px 3px 3px;
  -moz-box-shadow: 0 1px 1px #222222;
  background: -moz-linear-gradient(center top, #fcfcfc, #f6f6f6) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, 0% 29%, 0% 85%, from(#f0f0f0), to(#fafafa));
  border-color: #eeeeee #cccccc #999999;
  border-bottom-color: #999999;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #cccccc;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #cccccc;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #cccccc;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  border-style: solid;
  border-width: 1px;
  color: #666666;
  cursor: pointer;
  display: inline;
  font-family: "Lucida Grande", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  min-height: 10px;
  padding: 4px;
  text-shadow: 0 1px 0 white; }

#alphalert {
  border: 2px solid red;
  background: #cc0000;
  color: white;
  font-size: 12px;
  height: 50px;
  text-align: center;
  padding: 1em 1em;
  line-height: 1.4em;
  position: absolute;
  top: 400px;
  left: 420px;
  letter-spacing: 1px; }

#header .fullwidth {
  position: relative;
  top: -6px; }
